.banner-section {
    position: relative;
    padding: 185px 0 0px;
    background-color: #320fa1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(//20093980.fs1.hubspotusercontent-na1.net/hubfs/20093980/raw_assets/public/saasweb/images/icons/banner-shape-1.jpg);
}
.right-side{
    position: relative;
    padding: 185px 0 0px;
    background-image: url(https://f.hubspotusercontent30.net/hubfs/20093980/saasweb/big-shape-10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}